<%= form_for(@data_file) do |f| %>
  <% if @data_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_file.errors.count, "error") %> prohibited this data_file from being saved:</h2>

      <ul>
        <% @data_file.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_file %>
    <%= f.file_field :data %>
  </div>

  <div class="actions">
    <%= f.submit "Upload"%>
  </div>
<% end %>
